.tecla {
    width: 60px;
    height: 60px;
    margin: 5px;
    text-align: center;
    line-height: 60px;
    background-color: hsl(180, 100%, 27%);
    border-radius: 10px;
    font-size: 30px;
    cursor: pointer;
    transition: background-color 0.3s;
    color: #fff;
}
.tecla:hover {
    background-color: hsl(180, 100%, 21%);
}

#contenedor {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    max-width: 900px;
}

.teclado {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.vocal {
    background-color: #008000;
    color: white;
}

.multiplo3 {
    background-color: hsl(48, 100%, 50%);
}
.multiplo3:hover {
    background-color: hsl(48, 100%, 44%);
}

.par {
    background-color: hsl(240, 100%, 50%)
}
.par:hover {
    background-color: hsl(240, 100%,44%);
}