.ship {
    width: 60px;
    height: 60px;
    background: red;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-1%);
}

.bullet {
    width: 6px;
    height: 12px;
    background: red;
    position: absolute;
    bottom: 60px;
    border-radius: 3px;
}