code {
    white-space: pre-wrap;
    padding: 0;
    margin: 0;
}

.ejercicio {
    border: 1px black solid;
    border-radius: 5px;
    padding: 0 10px;
}

.resultado {
    background-color: rgb(195, 192, 192);
    margin-bottom: 10px;
}